{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form action="{{ url_for('main.start_lab') }}" method="post" id="start_lab_form">
    <div class="hidden">
        {{ form.csrf_token }}
    </div>
    {{ wtf.form_field(form.lab_difficulty) }}

    {{ wtf.form_field(form.submit) }}
</form>
{% endblock %}