{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Lab Profile</h1>
<p id="lab_ip">The IP address you should start with is {{ start_ip }}</p>
<p id="lab_token_desc">The lab token you are looking for is {{ lab_token_type }}</p>
<p id="entry_container_name">The entrypoint container name is {{ entry_container_name }}</p>
<p id="exit_container_name">The exit node container name is {{ exit_container_name }}</p>
<p id="difficulty">The difficulty of this lab is {{ lab_difficulty }}</p>
{% if running == true %}
    <p id="is_running">Your lab is currently still running</p>
    <p id="submit_lab">Once you have completed the lab and found your token please click the button below to submit the token</p>
    <a href="{{ url_for('main.submit_lab', lab_id=lab_id) }}"><button type="button" class="btn btn-success btn-lg">Submit Lab</button></a>
{% else %}
    <p id="not_running">You have successfully completed this lab by submitting the lab token</p>
    <p id="lab_token">The lab token you submitted was {{ lab_token }}</p>
{% endif %}

{% endblock %}