{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ current_user.get_users_name() }}'s Profile</h1>
<div id="active_labs">
    <h3 class="text-center">Active Labs</h3>
    <table class="table" id="active_labs_table">
        <thead>
        <tr>
            <th id="lab_id">Lab ID</th>
            <th id="lab_desc">Lab Token Description</th>
            <th id="date_started">Date Started</th>
        </tr>
        </thead>
        {% for active_lab in active_labs %}
        <tr>
            <td><a href="{{ url_for('main.lab_profile', lab_id=active_lab['id']) }}">{{ active_lab['id'] }}</a></td>
            <td>{{ active_lab['lab_token_type'] }}</td>
            <td>{{ active_lab['date_started'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div id="completed_labs">
    <h3 class="text-center">Completed Labs</h3>
    <table class="table" id="completed_labs_table">
        <thead>
        <tr>
            <th id="completed_labs_lab_id">Lab ID</th>
            <th id="completed_labs_lab_desc">Lab Token Description</th>
            <th id="completed_labs_date_started">Date Started</th>
            <th id="completed_labs_date_completed">Date Completed</th>
        </tr>
        </thead>
        {% for completed_lab in completed_labs %}
        <tr>
            <td><a href="{{ url_for('main.lab_profile', lab_id=completed_lab['id']) }}">{{ completed_lab['id'] }}</a></td>
            <td>{{ completed_lab['lab_token_type'] }}</td>
            <td>{{ completed_lab['date_started'] }}</td>
            <td>{{ completed_lab['date_completed'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}