{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Your lab has been created successfully</h1>
<p id="lab_started_welcome">The lab has been created and now you can start hacking away on the server.</p>
<p id="lab_ip">The IP address you should start with is {{ start_ip }}</p>
<p id="lab_token">The lab token you are looking for is {{ lab_token_type }}</p>
<p id="submit_lab">Once you have completed the lab and found your token please click the button below to submit the token</p>
<a href="{{ url_for('main.submit_lab', lab_id=lab_id) }}"><button type="button" class="btn btn-success btn-lg">Submit Lab</button></a>
{% endblock %}