{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if form %}
    <h1>Submit Lab Token</h1>
    <h3>Please submit the {{ lab_token_type }} below</h3>
    <form action="{{ url_for('main.submit_lab', lab_id=lab_id) }}" method="post" id="submit_lab_form">
        <div class="hidden">
            {{ form.csrf_token }}
            <input type="text" name="lab_id" value="{{ lab_id }}">
        </div>
        {{ wtf.form_field(form.lab_token) }}

        {{ wtf.form_field(form.submit) }}

    </form>
{% else %}
    <h1>Thanks for submitting the token</h1>
{% endif %}
{% endblock %}