{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-12">
    <div class="card wide-card-container">
        <form action="{{ url_for('admin.add_connection') }}" method="post" id="add_connection_form">
            <div class="hidden">
                {{ form.csrf_token }}
            </div>
            {{ wtf.form_field(form.friendly_name) }}

            {{ wtf.form_field(form.token_src) }}

            {{ wtf.form_field(form.token_dest) }}

            {{ wtf.form_field(form.connection_run_cmd) }}

            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
