{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-12">
    <div class="card wide-card-container">
        <form action="{{ url_for('admin.add_docker') }}" method="post" id="add_docker_form">
            <div class="hidden">
                {{ form.csrf_token }}
            </div>
            {{ wtf.form_field(form.friendly_name) }}

            {{ wtf.form_field(form.entry_point) }}

            {{ wtf.form_field(form.exit_node) }}

            {{ wtf.form_field(form.container_name) }}

            {{ wtf.form_field(form.port_list) }}

            {{ wtf.form_field(form.container_entrypoint) }}

            {{ wtf.form_field(form.lab_difficulty) }}

            {{ wtf.form_field(form.lab_token_desc) }}

            {{ wtf.form_field(form.lab_token) }}

            {{ wtf.form_field(form.connection_token) }}

            {{ wtf.form_field(form.run_after_start) }}

            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
