{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-12">
    <div class="card wide-card-container">
        <h3 class="text-center">Database Installation</h3>
        <p class="text-center">Click start to begin the database install. Note: this page will redirect once installation is done.</p>
        <form action="{{ url_for('install.db_install') }}" method="post" id="db_install_form">
            <div class="hidden">
                {{ form.csrf_token }}
            </div>
            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
