{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="col-md-12">
    <div class="card wide-card-container">
        <form action="{{ url_for('install.index') }}" method="post" id="add_user_form">
            <div class="hidden">
                {{ form.csrf_token }}
            </div>
            {{ wtf.form_field(form.username) }}

            {{ wtf.form_field(form.password) }}

            {{ wtf.form_field(form.confirm_password) }}

            {{ wtf.form_field(form.first_name) }}

            {{ wtf.form_field(form.last_name) }}

            {{ wtf.form_field(form.email) }}

            {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
