{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - NETWORKDECK{% else %}Welcome to NETWORKDECK{% endif %}
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css">
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">NETWORKDECK</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if current_user.is_anonymous %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if session['permission'] == 1 %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Admin <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('admin.add_docker') }}">Add Docker</a></li>
                                <li><a href="{{ url_for('admin.add_connection') }}">Add Connection Token</a></li>
                                <li><a href="{{ url_for('auth.register') }}">Add New User</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
{% endblock %}

{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
{% endblock %}